@{  
    ViewBag.Title = "Home Page";
}
<div class="hero-unit">
    <h1>@ViewBag.Message</h1>
    <p>ASP.NET MVC is a part of the ASP.NET Web application framework. It is one of the two different programming models you can use to create ASP.NET Web applications,the other being ASP.NET Web Forms.</p>
    <p><a class="btn primary large" href="http://asp.net/mvc">Learn more &raquo;</a></p>     
</div>        
<p>An MVC Application is designed and implemented using the following three attributes</p>        
<div class="row"> 
        <div class="span5"> 
          <h2>Model</h2> 
          <p>The model contains the core information for an application. This includes the data and validation rules as well as data access and aggregation logic.</p> 
          <p><a class="btn" href="http://www.asp.net/mvc/tutorials#Models">Model details &raquo;</a></p> 
        </div> 
        <div class="span5"> 
          <h2>View</h2> 
           <p>The view encapsulates the presentation of the application, and in ASP.NET this is typically the HTML markup. </p> 
          <p><a class="btn" href="http://www.asp.net/mvc/tutorials#Views">View details &raquo;</a></p> 
       </div> 
        <div class="span6"> 
          <h2>Controller</h2> 
          <p>The controller contains the control-flow logic. It interacts with the Model and Views to control the flow of information and execution of the application.</p> 
          <p><a class="btn" href="http://www.asp.net/mvc/tutorials#Controllers">Controller details &raquo;</a></p> 
        </div> 
</div>